#contact-info {
	font-size: .8em;
}
.job {
	background-color: #e9e5dc;
	border-radius: 5px;
	padding-bottom: .25px;
	padding-top: .25px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.list-size {
	font-size: .8em;
}

a:hover {
	color: green;
	text-decoration: underline overline;
}

section#volunteer-experience ul.list-size {
	color: red;
}